<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" aria-current="page" href="/">
       <img src="/cavaloCapa.png" width="100" height="100" alt="">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/cadastro">Cadastro de cavalos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/lista">Cavalos</a>
        </li>       
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="O que deseja pesquisar" aria-label="Search">
        <button class="btn btn-outline-success bg-black" type="submit">Pesquisar</button>
      </form>
    </div>
  </div>
</nav>