<div>
<body>
    <br>
    <h1 class= "titlePage" type="text" align="center">Cabanha Emannuella<br> </h1>
    <br><br>
    <p class= "image" align="center">
        <img src="/cavaloCrioulo.png" id= "showImage"> 
        <br> 
    </p>
    <br><br>

    <p style="text-align:center" class= "mainText"> Página de apresentação da cabanha
         <br>
    </p>
    
    </div> 
    <br><br><br>
    <div id="rodape" style = "font-size: 12px", align = "center">
        <p>Contatos:</p>
        <p>Telefone: </p>
        <p>E-mail:</p>
    </div>
  </body>
</html>

